<ion-card class="cardo">
  <div style="display: flex; align-items: center;justify-content: center;">
    <img [src]="productItem.imageUrl" />
  </div>
  <ion-item lines="none">
    <a href="javascript:void(0)" (click)="save()" slot="end">
      <ion-icon [name]="saved ? 'heart-sharp': 'heart-outline'" class="wish" color="danger"></ion-icon>
    </a>
  </ion-item>

  <ion-card-title>{{productItem.title}}</ion-card-title>

  <ion-card-subtitle>
    {{productItem.price | currency: 'INR'}}
  </ion-card-subtitle>

  <ion-button size="full" color="success" [routerLink]="['/itm']">
    <ion-label>View</ion-label>
    <ion-icon name="eye-outline"></ion-icon>
  </ion-button>
</ion-card>