<ion-content>
  <div class="center-elements">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">E-Shop</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" class="form-control" formControlName="email"></ion-input>
          </ion-item>
          <ng-container *ngIf="email?.invalid && (email?.touched || email?.dirty)">
            <span class=text-danger *ngIf="email?.errors?.required">
              *<span class="font-weight-bold">Email ID</span> is required
            </span>
            <span class=text-danger *ngIf="email?.errors?.email">
              *Please enter a <span class="font-weight-bold">valid Email ID</span>
            </span>
          </ng-container>
          <ion-item>
            <ion-label position="floating">password</ion-label>
            <ion-input type="password" class="form-control" formControlName="password"></ion-input>
          </ion-item>
          <ng-container *ngIf="password?.invalid && (password?.touched || password?.dirty)">
            <span class=text-danger *ngIf="password?.errors?.required">
              *<span class="font-weight-bold">Password</span> is required
            </span>
          </ng-container>
          <ion-item lines="none" class="secitem">
            <ion-label>Remember</ion-label>
            <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
            <ion-button color="dark" fill="clear" slot="end" size="small" [routerLink]="['/forgot']">Forget ?
            </ion-button>
          </ion-item>

          <ion-button color="primary" size="full" [disabled]="!loginForm.valid" (click)="login()"> Login</ion-button>
          <ion-button color="primary" fill="clear" size="full" [routerLink]="['/register']"> Register</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>